HalloWCF/HalloWCF.Client/Connected Services/ServiceReference1/HalloWCF.Host.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HalloWCF.Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HalloWCF.Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWurst">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Wurst" nillable="true" type="tns:Wurst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWurst" nillable="true" type="tns:ArrayOfWurst" />
  <xs:complexType name="Wurst">
    <xs:sequence>
      <xs:element minOccurs="0" name="BestBefore" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndCount" type="xs:int" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="MeatType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wurst" nillable="true" type="tns:Wurst" />
</xs:schema>